

#loginForm{
    width: 400px;
    margin: 0 auto;
}

#loginForm > fieldset{
    height: auto;
    display: flex;
    flex-direction: column;
}

#loginForm >fieldset> div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

label{
    margin-top: 25px;
}

input{
    margin-top: 10px;
}

button{
    margin: 25px 0;
}